<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.admin.css" />
	<link rel="shortcut icon" href="picture.ico">
	<title>codeTool</title>

</head>

<body>
	<header class="navbar-wrapper" style="background-color: #284797;" >
		<div style="padding-top: 5px;color: white">
			<img src="image\text.png"> coodtool代码生成
		</div>
	</header>
		
		<aside class="Hui-aside">
			<div class="menu_dropdown bk_2">
				<ul>
						<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
						<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
						<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
						<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
						<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
						<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
						<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
						<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
						<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
						<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
						<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
						<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
						<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
						<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
						<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
						<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
						<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
						<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
						<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
						<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
						<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
						<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
						<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
						<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
						<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
						<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
						<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
						<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
				</ul>
			</div>
		</aside>


		<section class="Hui-article-box">
			<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
			</div>
			 <!-- iframe 嵌入页面-->
			<div id="iframe_box" class="Hui-article">
				<div class="show_iframe">
					<iframe scrolling="yes" frameborder="0" src="counterlist.html"></iframe>
				</div>
			</div>
		</section>

</body>

</html>
<script type="text/javascript" src="js/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script src="js/commin.js"></script>




<script type="text/javascript">



</script>